<div class="row">
  <div class="col-md-12 show_header">
    <h1>
      <%= @blog.name %>
      <% if logged_in? %>
      <span class="show_actions">
        <%= link_to '', edit_blog_path(@blog), class: "glyphicon glyphicon-pencil" %>
        <%= link_to '', @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %>
      </span>
      <% end %>
    </h1>
  </div>
</div>
<div class="row">
  <% if @blog.pictures.any? %>
  <div class="col-md-3 hidden-xs hidden-sm">
    <% @blog.pictures.each do |p| %>
    <div class="show_picture">
      <%= link_to image_tag(picture_path(p.id, size: "small")), picture_path(p.id), local: true, data: {lightbox: "image_group", title: ""} %>
    </div>
    <% end %>
  </div>
  <div class="col-md-3 visible-xs visible-sm show_small_pics">
    <% @blog.pictures.each do |p| %>
      <div class="show_small_picture">
        <%= link_to image_tag(picture_path(p.id, size: "thumbnail")), picture_path(p.id, size: 'small'), local: true, data: {lightbox: "image_group", title: ""} %>
      </div>
    <% end %> 
  </div>
  <div class="col-md-9">
  <% else %>
  <div class="col-md-12">
  <% end %>
    <% if @blog.description.present? %>
    <div class="show_description">
      <%= @blog.description.html_safe %>
    </div>
    <% end %>
    <div class="show_content">
      <%= @blog.content.html_safe %>
    </div>
  </div>
</div>
