<div class="row">
  <div class="col-md-12 show_header">
    <h1>Gartentipp bearbeiten</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= form_with(url: pictures_path, action: "create", local: true, html: {:multipart => true}) do |form| %>
    <div class="form-group">
      <%= form.hidden_field("gardening_id", :value => @gardening.id) %>
      <%= form.label "Bild hochladen" %>
      <%= form.file_field :picture, class: "form-control" %>
    </div>
    <div class="actions form-group">
      <%= form.submit class: "btn btn-default" %>
    </div>
    <% end %>
  <% @gardening.pictures.each do |p| %>
    <%= link_to '', picture_path(p.id, gardening_id: @gardening.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %>
    <div class="show_picture">
      <%= link_to image_tag(picture_path(p.id, size: "small")), url_for({controller: 'pictures', :action => 'show', id: p.id}), local: true, data: {lightbox: "image_group", title: ""} %>
    </div>
  <% end %>
  </div>
  <div class="col-md-6">
    <%= render 'form', gardening: @gardening %>
  </div>
  <div class="col-md-3">
    <%= form_with(url: tags_path, action: "create", local: true) do |form| %>
      <label for="gardening_tags" class="tag_label">Tags</label>
      <div id="gardening_add_tag" class="btn btn-default btn-xs add_marked_tag_button">markierter Text</div>
      <input name="gardening_tags" id="gardening_tags" type="text" value="<%= @gardening.tags.map{ |t| t.tag }.join(",") %>" class="form-control"></input>
      <%= form.hidden_field("gardening_id", :value => @gardening.id) %>
      <%= form.submit class: "btn btn-default" %>
    <% end %>
  </div>
</div>