<div class="row">
  <div class="col-md-12">
    <div class="index_header">
      <h1>Rezepte</h1>
    </div>
    <table class="table">
      <tbody>
        <% @recipes.each do |recipe| %>
          <% next if not (recipe.published or logged_in?) %>
          <tr>
            <td class="index_title_description_td">
              <div class="index_title_div"><%= link_to recipe.name, recipe_path(recipe) %></div>
              <div class="index_description_div"><%= link_to recipe.description.html_safe, recipe_path(recipe) %></div>
            </td>
            <% if logged_in? %>
            <td class="index_action_td"><span class="glyphicon glyphicon-eye-<%= recipe.published ? "open" : "close" %>"></span></td>
            <td class="index_action_td"><%= link_to '', edit_recipe_path(recipe), class: "glyphicon glyphicon-pencil" %></td>
            <td class="index_action_td"><%= link_to '', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if logged_in? %>
    <%= link_to 'Neues Rezept', new_recipe_path, :class => "btn btn-default" %>
    <% end %>
  </div>
</div>
