<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Rezepte</h1>
    <table class="table">
      <tbody>
        <% @recipes.each do |recipe| %>
          <% next if not (recipe.published or logged_in?) %>
          <tr>
            <td><%= link_to recipe.name, recipe_path(recipe) %></td>
            <td><%= link_to recipe.description.html_safe, recipe_path(recipe) %></td>
            <% if logged_in? %>
            <td><span class="glyphicon glyphicon-eye-<%= recipe.published ? "open" : "close" %>"></span></td>
            <td><%= link_to '', edit_recipe_path(recipe), class: "glyphicon glyphicon-pencil" %></td>
            <td><%= link_to '', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if logged_in? %>
    <%= link_to 'Neues Rezept', new_recipe_path, :class => "btn btn-default" %>
    <% end %>
  </div>
</div>
