<div class="row">
  <div class="col-md-12 show_header">
    <h1><%= @recipe.name %></h1>
  </div>
</div>
<div class="row">
  <% if @recipe.pictures.any? %>
  <div class="col-md-3 hidden-xs hidden-sm">
    <% @recipe.pictures.each do |p| %>
    <div class="show_picture">
      <%= link_to image_tag(picture_path(p.id, size: "small")), picture_path(p.id), local: true, data: {lightbox: "image_group", title: ""} %>
    </div>
    <% end %>
  </div>
  <div class="col-md-3 visible-xs visible-sm show_small_pics">
    <% @recipe.pictures.each do |p| %>
      <div class="show_small_picture">
        <%= link_to image_tag(picture_path(p.id, size: "thumbnail")), picture_path(p.id, size: 'small'), local: true, data: {lightbox: "image_group", title: ""} %>
      </div>
    <% end %>
  </div>
  <div class="col-md-9">
  <% else %>
  <div class="col-md-12">
  <% end %>
    <% if @recipe.description.present? %>
    <div class="show_description">
      <%= @recipe.description.html_safe %>
    </div>
    <% end %>
    <div class="show_ingredients">
      <h1>Zutaten</h1>
      <%= @recipe.ingredients.html_safe %>
    </div>
    <div class="show_preparation">
      <h1>Zubereitung</h1>
      <%= @recipe.preparation.html_safe %>
    </div>
    <div class="show_preparation">
      <h1>Verwandte Links</h1>
      <%= @related.html_safe %>
    </div>
  </div>
</div>